
//点击箭头旋转180度
@keyframes tea_arrow {
    0%{transform: rotateZ(180deg);}
    25%{transform: rotateZ(135deg);}
    50%{transform: rotateZ(90deg);}
    75%{transform: rotateZ(45deg);}
    100%{transform: rotateZ(0deg);}
}
@keyframes tea_arrow1 {
    0%{transform: rotateZ(0deg);}
    25%{transform: rotateZ(45deg);}
    50%{transform: rotateZ(90deg);}
    75%{transform: rotateZ(135deg);}
    100%{transform: rotateZ(180deg);}
}
.tea_arrowDown{
    animation: tea_arrow 0.5s linear;
    transform-origin:center center;
    transform: rotateZ(0deg);
}
.tea_arrowUp{
    animation: tea_arrow1 0.5s linear;
    transform-origin:center center;
    transform: rotateZ(180deg);
}

<div class="ellipsis">
    单行文本css溢出部分css溢出部分css溢出部分css溢出部分css溢出部分css溢出部分css溢出部分
</div>

//单行文本溢出
.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;//文本溢出显示省略号
  white-space:nowrap;//文本不会换行（单行文本溢出）
  width:130px;
  background-color: red;
}
//多行文本溢出
.mult_line_ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;//文本溢出显示省略号
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width:130px;
  background-color:cornflowerblue;
}


